@import "tailwindcss";
@import "tw-animate-css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: jost, sans-serif;
}

html {
  font-size: 62.5%;
}

.main-container,
.header-container {
  max-width: 1470px;
  margin-inline: auto;
}

.header-section {
  padding-inline: 10rem;
}
.section {
  padding: 10rem;
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
  margin: 1.5rem 0 8rem;
  position: relative;
  width: fit-content;
}

.heading::after,
.heading::before {
  position: absolute;
  content: "";
}

.heading:after {
  bottom: -40%;
  left: 5%;
  width: 1rem;
  height: 1rem;
}
.heading:before {
  bottom: -35%;
  left: 5%;
  width: 80%;
  height: 0.3rem;
}
.btn {
  margin-top: 1rem;
  padding-block: 0.7rem;
  padding-inline: 1.5rem;
}
footer {
  padding-block: 2rem !important;
}
.home-image img {
  width: 40rem;
  height: 40rem;
}

.about-image img {
  width: 55rem;
  height: 60rem;
}

@media (width <= 1167px) {
  .section,
  .header-section,
  #home {
    padding-inline: 5rem !important;
  }
}
@media (width <= 1023px) {
  :is(.home-image, .about-image) img {
    width: 55rem;
    height: 60rem;
  }
}

@media (width <= 790px) {
  .section {
    padding-inline: 1.5rem !important;
  }
  #home {
    padding: 15rem 1.5rem !important;
  }
  :is(.home-image, .about-image) img {
    width: 55rem;
    height: 60rem;
  }
}

@media (width <= 680px) {
  h1 {
    line-height: 6.5rem;
  }
}

@media (width <= 500px) {
  :is(.home-image, .about-image) img {
    width: 30rem;
    height: 30rem;
  }
}

@media (width <=360px) {
  :is(.home-image, .about-image) img {
    width: 100%;
  }
}
